<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="nopcommerce">
	<parameter name="browser" value="chrome"></parameter>
	<test name="Regression Test" preserve-order="false">
		<classes>
			<class name="tests.users.CreateUserTest" />				<!--  -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
